html,body{
	margin: 0;
	padding: 0;

}

h3{
	text-align: center;
	background: #cccccc;
}
body{
	width: 100%;
}
section{
	margin-top: 10%;
}
.fl{
	float: left;
}
.description{
	padding: 10px;
	background: white;
	border: 1px dotted black;
	border-radius: 5px; 
	width: inherit;
}
.imagesHolder{
	
	width: 20%;
	margin: 5%;
}